<div class="d-flex flex-column gap-5">
  <a
    [href]="'https://wa.me/' + mobile"
    class="text-black text-decoration-none whatsapp-fixed-icon m-3"
    target="_blank"
  >
    <img src="assets/external/whatsappicon.png" width="90" alt="WhatsApp" />
  </a>
  <div class="academics-img"></div>
  <div class="d-flex flex-column gap-5 px-5 justify-content-center align-items-center">
    <div class="underline fw-bold fs-1 text-heading-color">Preparing Leaders for the Global Economy <br/>(Updated for AY 2025-26):
    </div>
    <div class="fs-4 text-justify">
      Our MBA program, delivered by BGS School of Management, envisions fostering excellence in business education and empowering tomorrow’s leaders to thrive in a dynamic world economy.
    </div>
  </div>

  <div class="d-flex flex-column gap-5 justify-content-center align-items-center px-5">
    <div class="underline fw-bold fs-1 text-heading-color">MBA at BGSCET </div>
    <div class="d-flex gap-5 h-800">
      <div class="w-50 fs-4 d-flex flex-column gap-1 text-justify">
        <div>
          Master of Business Administration, is a graduate degree that helps students acquire advanced knowledge and skills in various aspects of business, such as management, finance, marketing, accounting, and strategy. If you are looking for a way to advance your career, increase your earning potential, and gain valuable skills and knowledge, then our MBA program might be the perfect choice for you. Our MBA program is designed to prepare you for leadership roles in various fields and industries, such as finance, marketing, entrepreneurship, and more.
        </div>
        <div>
          BGS School of Management offers a two-year, full-time MBA program with a general management curriculum focused on real-world practice. Becoming a student at BGS means joining a global community that propels lifelong learning and career support alongside peers, faculty, and staff who will both challenge you and cheer you on as you find and accelerate your path. Students in our program engage in case studies, business simulations, and live projects.
        </div>
        <div>
          Ultimately, a BGS MBA degree helps you take the next step with confidence
        </div>
      </div>
      <div class="d-flex flex-column gap-2 w-50">
        <img src="assets/external/mba-pic-1.png" alt="MBA Pic" class="h-300"/>
        <img src="assets/external/mba-pic-2.png" alt="MBA Pic" class="h-500"/>
      </div>
    </div>
  </div>

  <div class="stats-section d-flex justify-content-around align-items-center p-3">
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center w-25">
      <div class="stat-value d-flex justify-content-center align-items-center">
        <div class="college-icon"></div>
      </div>
      <div class="stat-label text-center">2 Years Full time <br/>Affiliated to VTU</div>
    </div>
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center w-25">
      <div class="stat-value d-flex justify-content-center align-items-center">
        <div class="users-icon"></div>
      </div>
      <div class="stat-label text-center">Suitable for <br/>Young professionals</div>
    </div>
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center w-25">
      <div class="stat-value d-flex justify-content-center align-items-center">
        <div class="experience-icon"></div>
      </div>
      <div class="stat-label text-center">Work Experience <br/>2+ Years</div>
    </div>
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center w-25">
      <div class="stat-value d-flex justify-content-center align-items-center">
        <div class="graduation-icon"></div>
      </div>
      <div class="stat-label text-center">Candidates to Clear <br/>PGCET/KMAT/MAT/CAT</div>
    </div>
  </div>

  <div class="px-5 gap-2 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex gap-5 w-75">
      <div class="w-50 d-flex flex-column gap-4">
        <div class="d-flex gap-4">
          <div class="grad-student-icon"></div>
          <div class="d-flex flex-column gap-2">
            <div class="fw-bold fs-4"> Student-Centered Learning</div>
            <div class="fs-5"> Students are given the opportunity to decide what they learn & how they learn it.</div>
          </div>
        </div>
        <div class="d-flex gap-4">
          <div class="graduation-icon-2"></div>
          <div class="d-flex flex-column gap-2">
            <div class="fw-bold fs-4"> Graduate Student Body</div>
            <div class="fs-5"> Student elected representatives will take leadership of the industry connect program & student welfare activities.</div>
          </div>
        </div>
        <div class="d-flex gap-4">
          <div class="faculty-icon"></div>
          <div class="d-flex flex-column gap-2">
            <div class="fw-bold fs-4"> Visiting Faculty</div>
            <div class="fs-5"> A pool of 20+ top public figures & faculty from top Indian B-schools will deliver weekly lectures.</div>
          </div>
        </div>
        <div class="d-flex gap-4">
          <div class="holistic-learn-icon"></div>
          <div class="d-flex flex-column gap-2">
            <div class="fw-bold fs-4"> Holistic Learning</div>
            <div class="fs-5"> Students will engage in real-time problem solving at partnered firms, take on volunteering at NGOs & participate in dedicated case method sessions
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center w-50">
        <img src="assets/external/students-2.png" alt="Activities" class="w-100"/>
      </div>
    </div>
  </div>

  <div class="px-5 d-flex flex-column gap-5 justify-content-center align-items-center mb-5">
    <div class="underline fw-bold fs-1 text-heading-color">Specializations Offered </div>
    <div class="d-flex flex-column gap-5">
      <div class="fs-4 text-justify">
        BGS School of Management offers MBA program that is affiliated to VTU – Belgaum and recognized by AICTE with Specializations offered:
      </div>
      <div class="d-flex justify-content-between">
        <button class="bg-blue-color rounded-2 px-5 py-3 fs-3 fw-bold text-white">
          Finance
        </button>
        <button class="bg-blue-color rounded-2 px-5 py-3 fs-3 fw-bold text-white">
          Marketing
        </button>
        <button class="bg-blue-color rounded-2 px-5 py-3 fs-3 fw-bold text-white">
          Human Resource
        </button>
        <button class="bg-blue-color rounded-2 px-5 py-3 fs-3 fw-bold text-white">
          Business Analytics
        </button>
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/external/mba-pic-3.png" alt="MBA Pic" class="w-75" />
      </div>
    </div>
  </div>
</div>