<div class="d-flex flex-column gap-5">
  <a
    [href]="'https://wa.me/' + mobile"
    class="text-black text-decoration-none whatsapp-fixed-icon m-3"
    target="_blank"
  >
    <img src="assets/external/whatsappicon.png" width="90" />
  </a>
  <div class="contact-image d-flex align-items-center justify-content-center">
    <span class="contact-text text-white">Contact</span>
  </div>
    <div class="underline fw-bold fs-1 text-heading-color m-auto">
      Contact Us Today For Admission
    </div>

  <div class="d-flex w-100 flex-column flex-md-row gap-5 mb-5">
    <div class="d-flex flex-column flex-md-row w-100 p-0 pe-5">
      <div class="col-md-6 pe-0 pe-lg-5 d-flex">
        <div class="d-flex flex-column align-items-center justify-content-end students-img w-100 py-4">
          <div class="underline fw-bold fs-1 text-white pb-3">
            Join BGSCET | MBA
          </div>
          <div class="my-lg-4 my-3">
            <button
              class="btn-pink text-white"
              (click)="onBookAnAppointmentBtnClick()"
            >
              For Admission Click here
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column gap-4 mb-2 ps-3">
        <div class="home-heading-text-1 text-primary-blue">
          Admission open for 2024-25 <br/> PGCET COLLEGE CODE - B099
        </div>
        <div class="d-flex flex-column gap-2">
          <div class="home-heading-text-1 text-color-pink">Make an Enquiry</div>
          <div class="font-20">
            Fill out the form to book appointment with a expert
          </div>
        </div>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
