<div class="main d-flex flex-column gap-4 p-5 my-2 justify-content-center align-items-center">
  <div class="d-flex flex-column gap-2 text-white text-center">
    <div class="fs-1 fw-bold">COME VISIT OUR CAMPUS</div>
    <div class="fs-4">Are you ready to take the next step toward your future career?</div>
  </div>
  <div class="d-flex gap-5 text-white">
    <div class="btn-primary-pink py-2 px-4 rounded">For Admission Click here</div>
    <div class="btn-primary-pink py-2 px-4 rounded">Schedule a Tour</div>
  </div>
</div>