.cl-dim{
    width: 500px;
    height: 400px;
}
.btn:hover{
    opacity: 0.8;
    transition: 0.3s;
    background-color: #001498;
}

@media (max-width: 576px) {
    .cl-dim{
        width: 350px;
        height: 250px;
    }
}