<div class="service d-flex flex-column gap-2">
  <a
    [href]="'https://wa.me/' + mobile"
    class="text-black text-decoration-none whatsapp-fixed-icon m-3"
    target="_blank"
  >
    <img src="assets/external/whatsappicon.png" width="90" />
  </a>
  <div class="service-hero d-flex align-items-center justify-content-center">
    <span class="service-hero-title text-white fw-bold">Services</span>
  </div>
  <div class="d-flex flex-column gap-1 align-items-center my-4">
    <div class="service-heading">
      Expertise In Advanced And Minimal <br />
      <span class="text-primary-pink">Access Surgeries</span>
    </div>
    <div class="bg-primary-pink" style="width: 20%; height: 4px"></div>
  </div>
  <div class="container d-flex flex-column gap-5 mb-5">
    <div class="row align-items-lg-center">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0 d-flex flex-column align-items-center">
        <img
          src="assets/external/laparoscopic.png"
          alt="Laparoscopic"
          class="service-img responsive-img img-rounded shadow-sm img-large-screen-fixed-height w-lg-50"
        />
        <div class="text-center mt-3">
          <button
            class="btn-primary-blue text-white py-2 px-4 rounded"
            (click)="onBookAnAppointmentBtnClick()"
          >
            Book an Appointment
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-lg-4">
        <div class="text-primary-pink h3 fw-bold mb-3">
          Laparoscopic Surgeries
        </div>
        <div class="d-flex flex-column gap-2">
          <div class="text-primary-pink h5 mb-1">
            Gall Bladder Removal (Laparoscopic Cholecystectomy)
          </div>
          <ul class="font-size-base mb-3">
            <li>A Small Organ Under The Liver That Stores Bile.</li>
            <li>
              Surgery Is Commonly Done To Remove Gallstones And Ease Pain.
            </li>
            <li>Performed Using Keyhole Technique For Faster Recovery.</li>
            <li>Types: Open Or Laparoscopic (Preferred For Minimal Pain).</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">Benefits:</div>
          <ul class="font-size-base mb-3">
            <li>Quick Recovery</li>
            <li>No Large Cuts</li>
            <li>Reduced Pain</li>
            <li>No Recurrence Of Gallstones</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">Common Symptoms:</div>
          <ul class="font-size-base mb-0">
            <li>Abdominal Pain (Right Side)</li>
            <li>Nausea, Vomiting</li>
            <li>Bloating, Constipation, Or Diarrhea</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="testimonial-card bg-light p-4 rounded shadow-sm w-90">
      <div class="d-flex flex-column gap-2 px-2 px-lg-5">
        <div class="text-primary-blue testimonial-doctor-name">
          Dr. Sachin Subbaraya
        </div>
        <div class="testimonial-text d-flex flex-column gap-1">
          <div>
            Dr Sachin Subbaraya is a renowned Laparoscopic Surgeon and has
            specialised in Gall Bladder Removal Surgery at sarjapur, Bangalore.
          </div>
          <div>
            Best surgeon Dr Sachin Subbaraya for Gall Bladder Removal Surgery,
            General & Laparoscopic Surgery.
          </div>
          <div>
            Book an Appointment Now with one of the Best Surgeons for Gall
            Bladder Removal Surgery in Bangalore.
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-lg-center flex-lg-row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0 d-flex flex-column align-items-center">
        <img
          src="assets/external/hernia.png"
          alt="Hernia"
          class="service-img responsive-img img-rounded shadow-sm img-large-screen-fixed-height w-lg-50"
        />
        <div class="text-center mt-3">
          <button
            class="btn-primary-blue text-white py-2 px-4 rounded"
            (click)="onBookAnAppointmentBtnClick()"
          >
            Book an Appointment
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-lg-4">
        <div class="text-primary-pink h3 fw-bold mb-3">Hernia Surgery</div>
        <div class="d-flex flex-column gap-2">
          <div class="text-primary-pink h5 mb-1">What is Hernia?</div>
          <div class="h6 mb-3">
            When An Organ Pushes Through A Weak Spot in Muscles. <br />Common in
            Abdomen, Groin, Or Belly Area
          </div>
          <div class="text-primary-pink h5 mb-1">Causes:</div>
          <ul class="font-size-base mb-3">
            <li>Heavy Lifting</li>
            <li>Obesity</li>
            <li>Constipation</li>
            <li>Poor Nutrition</li>
            <li>Previous Surgeries</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">Symptoms:</div>
          <ul class="font-size-base mb-3">
            <li>Groin Swelling</li>
            <li>Pain When Lifting</li>
            <li>Acid Reflux</li>
            <li>Dull Ache</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">
            Why Laparoscopic Surgery?:
          </div>
          <ul class="font-size-base mb-0">
            <li>No Major Cuts Or Stitches</li>
            <li>Painless & Faster Healing</li>
            <li>Short Hospital Stay</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="testimonial-card bg-light p-4 rounded shadow-sm w-90">
      <div class="d-flex flex-column gap-2 px-2 px-lg-5">
        <div class="text-primary-blue testimonial-doctor-name">
          Dr. Sachin Subbaraya
        </div>
        <div class="testimonial-text d-flex flex-column gap-1">
          <div>
            Dr Sachin Subbaraya is a renowned Hernia Surgery at sarjapur, Bangalore.
          </div>
          <div>
            Best surgeon Dr Sachin Subbaraya for Hernia Surgery.
          </div>
          <div>
            Book an Appointment Now with one of the Best Surgeons for Hernia Surgery in Bangalore.
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-lg-center">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0 d-flex flex-column align-items-center">
        <img
          src="assets/external/appendix.png"
          alt="Appendix"
          class="service-img responsive-img img-rounded shadow-sm img-large-screen-fixed-height w-lg-50"
        />
        <div class="text-center mt-3">
          <button
            class="btn-primary-blue text-white py-2 px-4 rounded"
            (click)="onBookAnAppointmentBtnClick()"
          >
            Book an Appointment
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-lg-4">
        <div class="text-primary-pink h3 fw-bold mb-3">
          Appendix Removal (Appendectomy)
        </div>
        <div class="d-flex flex-column gap-2">
          <div class="text-primary-pink h5 mb-1">What Is It?</div>
          <div class="h6 mb-3">
            Surgical Removal Of An Inflamed Appendix (Appendicitis). Can Be Done
            As:
          </div>
          <ul class="font-size-base mb-3">
            <li>Open Surgery (More Painful)</li>
            <li>Laparoscopic Surgery (Minimally Invasive & Preferred)</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">Benefits Of Laparoscopic:</div>
          <ul class="font-size-base mb-3">
            <li>Minimal Pain</li>
            <li>Quick Recovery</li>
            <li>Small incisions</li>
            <li>Less Risk Of Infection</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">Common Symptoms:</div>
          <ul class="font-size-base mb-0">
            <li>Abdominal Pain (Worse With Movement)</li>
            <li>Bloating</li>
            <li>Nausea & vomiting</li>
            <li>Low-Grade Fever</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="testimonial-card bg-light p-4 rounded shadow-sm w-90">
      <div class="d-flex flex-column gap-2 px-2 px-lg-5">
        <div class="text-primary-blue testimonial-doctor-name">
          Dr. Sachin Subbaraya
        </div>
        <div class="testimonial-text d-flex flex-column gap-1">
          <div>
            Dr Sachin Subbaraya is a renowned Appendix Removal at sarjapur, Bangalore.
          </div>
          <div>
            Best surgeon Dr Sachin Subbaraya for Appendix Removal.
          </div>
          <div>
            Book an Appointment Now with one of the Best Surgeons for Appendix Removal in Bangalore.
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-lg-center flex-lg-row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0 d-flex flex-column align-items-center">
        <img
          src="assets/external/piles.png"
          alt="Piles"
          class="service-img responsive-img img-rounded shadow-sm img-large-screen-fixed-height w-lg-50"
        />
        <div class="text-center mt-3">
          <button
            class="btn-primary-blue text-white py-2 px-4 rounded"
            (click)="onBookAnAppointmentBtnClick()"
          >
            Book an Appointment
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-lg-4">
        <div class="text-primary-pink h3 fw-bold mb-3">
          Piles (Hemorrhoids) Treatment
        </div>
        <div class="d-flex flex-column gap-2">
          <div class="text-primary-pink h5 mb-1">What Are Piles?</div>
          <div class="h6 mb-3">
            Swollen Veins In The Rectum Or Anus. Can Be Internal Or External.
          </div>
          <div class="text-primary-pink h5 mb-1">Symptoms:</div>
          <ul class="font-size-base mb-3">
            <li>Bleeding During Bowel Movements</li>
            <li>Pain, Itching, Or Swelling In Rectal Area</li>
            <li>Hard Lump In Anus</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">Risk Factors:</div>
          <ul class="font-size-base mb-3">
            <li>Constipation</li>
            <li>Obesity</li>
            <li>Pregnancy</li>
            <li>Low-Fiber Diet</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">Treatment Options:</div>
          <ul class="font-size-base mb-3">
            <li>Home Remedies (Initial Stage)</li>
            <li>Traditional Surgery (Painful)</li>
            <li>Laser Treatment (Painless & Effective)</li>
          </ul>
          <div class="text-primary-pink h5 mb-1">
            Why Choose Laser Treatment?:
          </div>
          <ul class="font-size-base mb-0">
            <li>No Cuts Or Stitches</li>
            <li>Painless 30-45 Min Procedure</li>
            <li>Discharge Same Day</li>
            <li>Back To Normal in 48 Hours</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="testimonial-card bg-light p-4 rounded shadow-sm w-90">
      <div class="d-flex flex-column gap-2 px-2 px-lg-5">
        <div class="text-primary-blue testimonial-doctor-name">
          Dr. Sachin Subbaraya
        </div>
        <div class="testimonial-text d-flex flex-column gap-1">
          <div>
            Dr Sachin Subbaraya is a renowned Piles Surgery at sarjapur, Bangalore.
          </div>
          <div>
            Best surgeon Dr Sachin Subbaraya for Piles Surgery.
          </div>
          <div>
            Book an Appointment Now with one of the Best Surgeons for Piles Surgery in Bangalore.
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
