<div class="d-flex flex-column gap-5">
  <a
    [href]="'https://wa.me/' + mobile"
    class="text-black text-decoration-none whatsapp-fixed-icon m-3"
    target="_blank"
  >
    <img src="assets/external/whatsappicon.png" width="90" alt="WhatsApp" />
  </a>
  <div class="about-hero"></div>
  <div class="underline fw-bold fs-1 text-heading-color m-auto">About Math</div>

  <div class="d-flex flex-column gap-5 justify-content-center align-items-center px-5">
    <div class="w-100">
      <img src="assets/external/about-math.png" alt="Math" class="w-100"/>
    </div>
    <div class="w-100 fs-5 text-justify">
      Sri Kshetra Adi Chunchanagiri has a history of 2000 years of its existence. It is the holy land engulfed with the divine resonance and vibration. Ancient Vedic culture was founded here on spirituality, where Nature is valued and worshipped. It was Yagnas and prayers that inspired cosmic peace here.<br />
      Sri Kshetra is blessed by Lord Shiva. Lord Shiva performed penance at Sri Kshetra, during which he devoured two demons, Chuncha and Kancha, who were pestering elements of the area for a very long time. At the end of his austerity, Lord Shiva entrusted a Siddayogi, establishing a ‘Natha tradition’ and guided him to disseminate the righteousness in the society.
      Lord Shiva also assured to reside in Sri Kshetra Adichunchanagiri, in the form of Panchalingas viz. Lord Gangadhareshwaraswamy, Chandramouleshwaraswamy, Malleshwaraswamy, Siddeshwaraswamy and Someshwaraswamy; of which Lord Gangadhareshwaraswamy is known as the ‘Presiding Deity’. Thus, Sri Kshetra came to be known as “Panchalinga Kshetra”.
    </div>
  </div>

  <div class="d-flex flex-column gap-5 justify-content-center align-items-center px-5">
    <div class="underline fw-bold fs-1 text-heading-color">Institute Spotlight</div>
    <div class="d-flex gap-4" style="height: 800px;">
      <div class="d-flex flex-column gap-4 w-50 h-100">
        <div class="fs-4 text-justify">
          Sri Adichunchanagiri Mahasamsthana Math is a spiritual and social centre with a history of over 1800 years. It has 500+ educational institutions that educate more than 200,000 students. Most institutions are located in rural parts of the country and offer education from kindergarten to PhD.
          BGS College of Engineering and Technology (BGSCET) is a unit of Sri Adichunchanagiri Shikshana Trust, founded in 2022. It is located in west Bangalore, home of iconic landmarks such as the Indian Institute of Science, the World Trade Centre, and the ISKCON Temple. The institution is easily accessible by Namma Metro and Majestic Bus Station, City, and Yeshwantpur railway junctions.
        </div>
        <img src="/assets/external/about-math-insti-spot.png" alt="Institute Spotlight" />
      </div>
      <div class="w-50 h-100">
        <img src="/assets/external/about-math-insti-spot-2.png" alt="Institute Spotlight" class="w-100 h-100"/>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column gap-5 justify-content-center align-items-center p-5 pt-0">
      <div class="underline fw-bold fs-1 text-heading-color">Vision & Mission</div>
    <div class="d-flex w-75">
      <div class="d-flex flex-column gap-2 w-50 px-3 pe-5 border-end border-dark">
        <div class="text-start fs-2 fw-bold">Vision</div>
        <div class="fs-5">
          Our Vision is to foster excellence in business education, empowering tomorrow’s leaders to thrive in a dynamic world economy.
        </div>
      </div>
      <div class="d-flex flex-column gap-2 w-50 px-3 ps-5 border-start border-dark">
        <div class="text-start fs-2 fw-bold">Mission</div>
        <div class="fs-5">
          To provide a rigorous and comprehensive MBA program that cultivates high-performing business leaders with a global perspective.
        </div>
      </div>
    </div>
  </div>
</div>