.academics-img {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/external/academics-prgm-main.png);
}
.text-primary-blue {
  color: #001a5d;
}

.bg-primary-blue {
  background-color: #001a5d;
}
.bg-primary-brown{
  background-color: #7B0053;
}
.whatsapp-fixed-icon {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
}

.whatsapp-fixed-icon img {
  width: 70px;
  height: auto;
  max-width: 100%;
}

.academics-heading{
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: solid 4px;
}

.btn {
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
}

.testimonial-card {
  width: 90%;
  background-color: #f7f7f7;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.testimonial-text {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.6;
  color: #4c4c4c;
  text-align: justify;
}

.testimonial-author {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  text-align: right;
}

.testimonial-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
