<div class="d-flex flex-column gap-5">
  <a
    [href]="'https://wa.me/' + mobile"
    class="text-black text-decoration-none whatsapp-fixed-icon m-3"
    target="_blank"
  >
    <img src="assets/external/whatsappicon.png" width="90" alt="WhatsApp" />
  </a>
  <div class="campus-img"></div>
  <div class="d-flex flex-column gap-5 px-5 justify-content-center align-items-center">
    <div class="underline fw-bold fs-1 text-heading-color">MBA Award & Event Celebration </div>
    <div class="d-flex flex-column gap-4 justify-content-center">
      <div class="d-flex gap-4 justify-content-center">
        <img src="assets/external/campus-award-1.png" alt="Campus Award" class="item"/>
        <img src="assets/external/campus-award-2.png" alt="Campus Award" class="item"/>
        <img src="assets/external/campus-award-3.png" alt="Campus Award" class="item"/>
      </div>
      <div class="d-flex gap-4 justify-content-center">
        <img src="assets/external/campus-award-4.png" alt="Campus Award" class="item"/>
        <img src="assets/external/campus-award-5.png" alt="Campus Award" class="item"/>
        <img src="assets/external/campus-award-6.png" alt="Campus Award" class="item"/>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column gap-5 px-5 justify-content-center align-items-center">
    <div class="underline fw-bold fs-1 text-heading-color">Campus Life</div>
    <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
      <div class="d-flex gap-3">
        <div class="d-flex flex-column w-50 justify-content-between">
          <img src="assets/external/home-cl-1.png" alt="Image 1" class="w-100"/>
          <img src="assets/external/home-cl-2.png" alt="Image 2" class="w-100" />
        </div>
        <div class="w-50">
          <img src="assets/external/home-cl-3.png" alt="Image 3" class="w-100"/>
        </div>
      </div>
      <div>
        <img src="assets/external/home-cl-5.png" alt="Image 4" class="w-100"/>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column gap-5 px-5 justify-content-center align-items-center mb-5">
    <div class="underline fw-bold fs-1 text-heading-color">Cultural Events & Activities </div>
    <div class="d-flex flex-column gap-4 justify-content-center">
      <div class="d-flex gap-4 justify-content-center">
        <img src="assets/external/activities-1.png" alt="Activities" class="item"/>
        <img src="assets/external/activities-2.png" alt="Activities" class="item"/>
        <img src="assets/external/activities-3.png" alt="Activities" class="item"/>
      </div>
      <div class="d-flex gap-4 justify-content-center">
        <img src="assets/external/activities-4.png" alt="Activities" class="item"/>
        <img src="assets/external/activities-5.png" alt="Activities" class="item"/>
        <img src="assets/external/activities-6.png" alt="Activities" class="item"/>
      </div>
      <div class="d-flex gap-4 justify-content-center">
        <img src="assets/external/activities-7.png" alt="Activities" class="item"/>
        <img src="assets/external/activities-8.png" alt="Activities" class="item"/>
        <img src="assets/external/activities-9.png" alt="Activities" class="item"/>
      </div>
    </div>
    <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
      <div class="d-flex gap-3 flex-wrap">
        <div class="d-flex gap-3 w-100">
          <div class="d-flex flex-column gap-3 w-50">
            <img src="assets/external/activities-10.png" alt="Activities" class="w-100 h-400"/>
            <img src="assets/external/activities-12.png" alt="Activities" class="w-100 h-600"/>
          </div>
          <div class="d-flex flex-column gap-3 w-50">
            <img src="assets/external/activities-11.png" alt="Activities" class="w-100 h-600"/>
            <img src="assets/external/activities-13.png" alt="Activities" class="w-100 h-400"/>
          </div>
        </div>
        <div class="d-flex gap-3 w-100 h-400">
          <img src="assets/external/activities-14.png" alt="Activities" class="w-50 h-100"/>
          <img src="assets/external/activities-15.png" alt="Activities" class="w-50 h-100"/>
        </div>
      </div>
    </div>
  </div>
</div>
<app-visit-campus></app-visit-campus>
<app-footer></app-footer>